<div class="container">
  <h1 class="text-center pt-5 mt-5 mb-5 ">Mes réservations</h1>
  <% @bookings.each do |booking| %>
    <div class="card-works">
      <div class="card-booking-description" >
        <h2><%= booking.worksite.name %></h2>
        <ul>
          <li><i class="fas fa-calendar-alt">  </i> <%= booking.plage_date %> </li>
          <li><i class="fas fa-user-friends">  </i><%= booking.worksite.user.first_name %> <%= booking.worksite.user.last_name %> </li>
          <li><i class="fas fa-envelope">  </i><%= booking.worksite.user.email %> </li>
        </ul>
      </div>
      <div class="card-booking-button">
        <%= link_to "modifier", edit_worksite_booking_path(booking.worksite, booking), class: "btn btn-primary"  %>
        <%= link_to "supprimer", worksite_booking_path(booking.worksite, booking), class: "btn btn-primary",
          method: :delete,
          data: { confirm: "Êtes vous sûr de supprimer cette réservation?" }
        %>
      </div>
    </div>
  <% end %>
</div>

