<div class="container">
  <h2>Crée un nouveau Chantier:</h2>
  <%= simple_form_for @worksite do |f| %>
    <%= f.input :name, maxlength: 15 %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.submit "ajouter un chantier", class: "btn btn-primary" %>
  <% end %>
</div>
