<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8  col-md-6 col-lg-4">
      <div class="form">
        <h2>Nouveau Chantier</h2>
        <%= simple_form_for @worksite do |f| %>
          <%= f.input :name, :label => 'Nom du chantier' %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.input :description, :input_html => {:rows => 5}  %>
          <%= f.input :address, :label => 'Adresse' %>
          <%= f.submit "Ajouter un chantier", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

