<div class="card-trip">
  <img id="image_show" src="<%= cl_image_path @worksite.photo, height: 300, width: 400, crop: :fill %>" alt="Card image cap">
  <div class="card-trip-infos container">
    <div class="description">
      <h1><%= @worksite.name %></h1>
      <p><%= @worksite.description %></p>
    </div>
    <div class="carte">
      <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/1000x300?access_token=pk.eyJ1Ijoibmljb2xhc2NoaWNhbiIsImEiOiJjanZkcjRxbTUwNXI2NDVvdWR6Zm5mOWV6In0.5TmGyZQZyDv33XQudjiS8g'>
    </div>
    <div id="links">
      <p>
        <%= link_to "Book", new_worksite_booking_path(@worksite), class: "btn btn-primary" unless policy(@worksite).edit? %>
      </p>
      <p>
        <%= link_to "Update", edit_worksite_path(@worksite) if policy(@worksite).edit? %>
      </p>
      <p>
      <%= link_to "Delete", worksite_path(@worksite), method: :delete if policy(@worksite).edit? %>
      </p>
    </div>
  </div>
</div>

